{% extends "base.html" %}

{% block app_content %}
    <style>
        body {
            background-color: #D9ADCD;
        }
    </style>
    <h1>{{  band.name }}</h1>
    <div><p><b>Bio: </b> {{ band.bio }}</p></div>
    <h3>Performance:</h3>


    {% for event in events %}
        {% for porch in porches %}
            {% if porch.id == event.porchID %}
                <div><p><b> Location: </b>{{ porch.address }}</p></div>
            {% endif %}
        {% endfor %}
        <div><p><b> Time: </b>{{ event.time }}</p></div>
    {% endfor %}

    {% if not events %}
        <div><p><b>No known events</b></p></div>
    {%  endif %}

    <form>
        <input type="button" value="Favorite" onclick="msg()">
    </form>

    <script>
        function msg() {
            alert("Artist Added to Favorites");
        }
    </script>

{% endblock %}