{% extends "base.html" %}



   {% block scripts %}
   {{super()}}



<script>

// $(document).ready(function(){
//   $("button").click(function(){
//       alert("Hello!");
//
//       $.ajax({
//         type : "POST",
//         url : {{ url_for('artist', name = band.name) }};
//     });
//     // function(){
//     //     alert(Artist added to favorites);
//     //   }
//   });
// });
//
//
//
// });



$(document).ready(function(){
  $("favButton").click(function(){
    alert("Artist added to favorites");
    $.ajax({
        type : "POST",
        url : "{{ url_for('artist', name = band.name) }}"
    });
  });
});


//     $('.favButton').click(function() {
//
//         $.ajax({
//             url: {{ url_for('artist', name = band.name) }},
//             type: 'POST',
//             data: {'submit':true},
//             success: function (result) {
//               alert("Artist added to favorites");
//             }
//         });
//
// });




</script>

    {% endblock %}


{% block app_content %}
    <style>
        body {
            background-color: #D9ADCD;
        }
    </style>
    <h1>{{  band.name }}</h1>
    <div><p><b>Bio: </b> {{ band.bio }}</p></div>
    <h3>Performance:</h3>


    {% for event in events %}
        {% for porch in porches %}
            {% if porch.id == event.porchID %}
                <div><p><b> Location: </b>{{ porch.address }}</p></div>
            {% endif %}
        {% endfor %}
        <div><p><b> Time: </b>{{ event.time }}</p></div>
    {% endfor %}

    {% if not events %}
        <div><p><b>No known events</b></p></div>
    {%  endif %}


<favButton><button>Favorite</button></favButton>

{% endblock %}