{% extends "base.html" %}

{% block content %}
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
                body {
                    background-color: #D9ADCD;
                }
                p {
                    font-family: Verdana;
                    text-align: center;
                    font-size: 45px;
                    margin-top: 0px;
                    color: black;
                }
            </style>
        </head>
        <body>
        <br />
        <h1><center><font face="lucida sans typewriter" size="40px">Ithaca Porchfest</font></center></h1>
        <h1><center><font face="lucida sans typewriter">September 20, 2020</font></center></h1>
        <br />
            <p id="countdown"></p>
            <script>
                var countDownDate = new Date("September 20, 2020 12:00:00").getTime();
                var x = setInterval(function() {
                var now = new Date().getTime();
                var distance = countDownDate - now;
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                document.getElementById("countdown").innerHTML = days + " Days " + hours + " Hrs " +
                minutes + " Mins " + seconds + " Secs";
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("countdown").innerHTML = "EXPIRED";
                }
                }, 1000);
            </script>

            <br />

            <div align="center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XQuBvZNlKuE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <script>
                var tag = document.createElement('video');

                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('video')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                var player;
                function onYouTubeIframeAPIReady() {
                    player = new YT.Player('player', {
                    height: '390',
                    width: '640',
                    videoId: 'M7lc1UVf-VE',
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                    });
                }

                function onPlayerReady(event) {
                    event.target.playVideo();
                }

                var done = false;
                function onPlayerStateChange(event) {
                    if (event.data == YT.PlayerState.PLAYING && !done) {
                        setTimeout(stopVideo, 6000);
                        done = true;
                    }
                }

                function stopVideo() {
                    player.stopVideo();
                }
            </script>
        </body>
    </html>
{% endblock %}